@font-face {
  font-family: 'Sofia Sans Extra Condensed';
  src: url('../fonts/SofiaSansExtraCondensed-Regular.ttf') format('truetype');
}

* {
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  color: white;
  font-size: 16px;
}
