@font-face {
  font-family: 'Sofia Sans Extra Condensed';
  src: url('../fonts/SofiaSansExtraCondensed-Regular.ttf') format('truetype');
}

p, span {
  font-family: 'Sofia Sans Extra Condensed', sans-serif;
  color: rgba(0,0,0,0.7)
}